<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/about.css" />
   
    <title>about</title>

</head>
<body>
    <div class="container" >
        <div class="top">
            <a id="profile">Go to index page</a>
        </div>
        <div class="bottom">
            <img src="/images/chadpic.jpg" alt="profile pic">
            <h3 id="email">nigelmun.nm@gmail.com</h3>
            <p>Hello I am Nigel Mun, aka Gigachad. I have 5.00GPA and that is a total lie.</p>
            <button id="contactbutton" class="contactbtn">Contact me here</button>
        </div>

    </div>

    <script src="/routes/about.js"></script>
</body>
</html>