<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css" />

    <title>Home</title>
</head>

<body> 
    <div class="container">

        <div class ="top" id="profile">
            <a>Go to home page</a>
        </div>

        <div class="bottom">
            <ul>
                <li>About</li>
                <li>Contact</li>
                <li>404</li>
            </ul>
        </div>
        
    </div>
    <script src="/routes/index.js"></script>
</body>

</html>