html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #150D35;
    margin: 0px;
}

.container {
    background-image: url("../images/slaps.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    position: absolute;
    top: 30;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top > a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.top > a:after {
    position: absolute;
    background-color: #fff;
    width: 0px;
    height: 2px;
    left: 0px;
    bottom: -10px;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}


.top > a:hover {
    transform: scale(1.1);
    color: rgb(190, 79, 79);
    font-weight: 200;
}

.top > a:hover:after {
    width: 100%;
}

.bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(204, 204, 204, 0.63);
    filter: drop-shadow(0px 5px 5px rgba(255, 201, 255, 0.2));
    border-radius: 200px;
}
